@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$orange: #ffa600;
$blue: #82d2e5;
$green: #c1d72e;

$list1: $blue, $green, $orange;

@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background-image: linear-gradient($direction, $list);
}

.mobimentor-widget-title {
  padding: 5px;
  &.title-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    .mobimentor-title {
      margin: 10px 0;
      font-size: 20px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
    }
    .mobimentor-subtitle {
      margin: 10px 0;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
    }
    .mobimentor-title-right {
      margin-bottom: 5px;
      margin-right: 5px;
    }
    .mobimentor-showmore {
      margin: 10px 0;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
    }
  }
}

.mobimentor-slick-slider {
  .slick-arrow {
    display: inline-block;
    position: absolute;
    z-index: 9;
    top: 40%;
    padding: 0px 10px;
    border-radius: 50%;

    i {
      font-size: 24px;
      color: #ffffff80;
      vertical-align: middel;
    }

    &.slick-arrow-left {
      left: 10px;
    }

    &.slick-arrow-right {
      right: 10px;
    }

    &:hover {
      cursor: pointer;

      i {
        color: #fff;
      }
    }
  }
}

.mobimentor-slick-slider-one {
  .slick-list {
    padding: 10px 0 10px 5px;
    margin: 10px 0px;
  }
  .slick-slide {
    &:first-child {
      .single-slider {
        margin-left: 5px;
      }
    }
  }

  .single-slider {
    height: 200px;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 5px;

    &:hover {
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
      transition: box-shadow 500ms;
    }

    img {
      position: absolute;
      margin: auto;
      right: -99px;
      left: -99px;
      top: -99px;
      bottom: -99px;
      min-height: 100%;
      min-width: 100%;
      max-height: unset;
      max-width: unset;
      z-index: 8;
    }

    .slider-foreground {
      z-index: 9;
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        #00000000,
        #00000020,
        #000000
      );
    }
    .slide-top-left {
      position: absolute;
      top: 0px;
      left: 0px;
      display: flex;
      flex-direction: column;
      margin: 10px;

      span {
        padding: 2px 6px;
        background-color: gray;
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-size: 10px;
        font-weight: 500;
        border-radius: 5px;
        margin-bottom: 5px;

        &.on-sale {
          background-color: red;
        }

        &.featured {
          color: #000000;
          background-color: #ffffff;
        }
      }
    }

    .slide-top-right {
      position: absolute;
      top: 0px;
      right: 0px;
      margin: 10px;
      display: flex;
      flex-direction: column;

      .yith-wcwl-add-to-wishlist {
        margin-top: 0;

        a span {
          display: none;
        }
      }

      .mm-add-to-cart-btn {
        color: #e33c28;

        .fa-2x {
          font-size: 14px;
        }

        &.added {
          display: none;
        }

        &:hover {
          cursor: pointer;
          color: #b00900;
        }

        &:focus {
          background-color: unset;
        }
      }

      .added_to_cart {
        float: right;
        background-color: transparent;
        text-indent: -99999px;
        color: #e33c28;
        background-color: #fff;
        padding: 4px 8px 3px 8px;
        border-radius: 50%;
        align-self: flex-end;
        margin-bottom: 5px;
        &::before {
          content: "\f30b";
          float: right;
          text-indent: 0;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-size: 12px;
        }
        &:hover {
          cursor: pointer;
          box-shadow: 0px 0px 5px 1px #ecd9ba;
          transition: box-shadow 100ms;
        }
      }
    }

    .slider-info {
      position: absolute;
      bottom: 0;
      margin: 10px;

      .product-category {
        padding: 2px 6px;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-size: 8px;
        font-weight: 400;
        border-radius: 5px;
      }

      .product-title {
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 16px;
        margin: 0 0 5px 0;
      }

      .product-price {
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 14px;

        ins {
          background-color: unset;
          text-decoration: none;
        }

        &.price-hidden {
          display: none;
        }

        &.reg-price-hidden {
          del {
            display: none;
          }
        }
      }

      .slider-link {
        height: 100%;
        width: 100%;
        &:hover {
          cursor: pointer;
          .product-title {
            color: #ecd9ba;
            font-weight: 600;
          }
        }
      }
    }
  }

  .slick-dots {
    button {
      background-color: unset !important;
    }
  }
}
