@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.infinite-elementor-widget .single-slider{
    height: 200px;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 5px
}

.infinite-elementor-widget .slick-list{
    padding: 10px 0;
}

.infinite-elementor-widget .single-slider:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    transition: box-shadow 500ms;
}

/* .infinite-elementor-widget .slick-slide:first-child .single-slider{
    margin-left: 0;
} */

/* .infinite-elementor-widget .slick-slide:last-child .single-slider{
    margin-right: 0;
} */

.infinite-elementor-widget .single-slider img{
    position: absolute;
    margin: auto;
    right: -99px;
    left: -99px;
    top: -99px;
    bottom: -99px;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: unset;
    z-index: 8;
}

.infinite-elementor-widget .single-slider .slider-foreground{
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: bottom;
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 0%),rgb(0 0 0 / 0%), rgb(0 0 0 / 100%))
}

.slider-info{
    position: absolute;
    bottom: 0;
    margin: 10px;
}

.slider-info h4{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 5px 0;
}

.slide-top-left{
    position: absolute;
    top: 10px;
    left: 10px;
}

.slide-top-left span{
    padding: 2px 6px;
    background-color: red;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 500;
    border-radius: 5px;
}

.slide-top-right{
    position: absolute;
    top: 10px;
    right: 10px;
}

.slide-top-right .yith-wcwl-add-to-wishlist{
    margin-top: 0
}

.slide-top-right .yith-wcwl-add-to-wishlist a span{
    display: none
}

.slider-info .product-price{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px
}

.slider-info .product-price ins{
    background-color: unset
}

.slick-arrow{
    display: inline-block;
    position: absolute;
    z-index: 9;
    top: 40%;
    padding:20px;
}

.slick-arrow-left{
    left: 10px;
}

.slick-arrow-right{
    right: 10px;
}

.slick-arrow i{
    font-size: 20px;
    color: white
}